* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding-top: 80px; /* Adjust padding to match header height */
}

body > .min-h-100dvb {
  flex: 1;
}

/* Resetowanie domyślnych marginesów i paddingów */
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Styl nagłówka */
header {
  background-color: white;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  height: 70px; /* Set consistent height */
}

header .container {
  top: 0;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  transition: background 0.3s, color 0.3s;
}

header nav ul li a:hover {
  background-color: #113d85;
  border-radius: 5px;
  color: white;
}

@media (max-width: 768px) {
  /* Poprawka nagłówka */
  header {
    padding: 5px 0;
  }
  /* Mniejsze marginesy */
  .text-section {
    padding: 15px;
    font-size: 16px;
  }
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 175px;
  z-index: 999;
  background-color: white;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar ul {
  text-align: right;
  display: inline-block;
  float: none;
  background-position: 100%;
  padding-right: 10px;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .hideOnMobile {
    width: 100%;
  }
}

/* Domyślne menu */
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  transition: background 0.3s, color 0.3s;
  border-radius: 5px;
}

nav ul li a {
  display: inline-block;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

main {
  flex: 1;
  padding: 100px;
  background-color: white;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #113d85, #4c8bef);
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
}

.services {
  padding: 40px 20px;
  background-color: white;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
}

.card2 {
  float: left;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 50%;
  height: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card2 h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card2 p {
  font-size: 1rem;
}

@media (max-width: 380px) {
  .main_img .text {
    font-size: 15px;
  }
}
.footer-container {
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.footer-section {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

/* Footer styles */
footer {
  background: linear-gradient(to right, #113d85, #4c8bef);
  text-align: center;
  color: black;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

/* Styl przycisku menu */
.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

header .logo img {
  height: 50px; /* Adjust image height */
}

.service-image {
  width: 100%;
  height: auto;
  margin: 0 auto; /* Center the image */
}
